VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=corporate-506020.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=corporate-506020
VITE_FIREBASE_STORAGE_BUCKET=corporate-506020.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

VITE_ORG_ID=demo
VITE_BACKEND_URL=http://localhost:8000
